  @font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Muller/Non-commercial/Muller/OTF/Muller-Trial-Regular.otf") format("opentype"),
    url("../fonts/Muller/Non-commercial/Muller/TTF/Muller-Trial-Regular.ttf") format("truetype"); 
    }